/*
-----------------------
styling story
-----------------------
*/

.story{
    position: relative;
    margin: 35px 17px 0px 17px;
}

.story img{
    position: relative;
    margin-bottom: -309px;
    z-index: 1;
}

.story fieldset{
    border: solid 1px $secondary_color;
    margin: 5px;
	line-height: 1;
	padding: 15px;
    color: $secondary_color;
    background: linear-gradient(0deg, rgba(0,0,0,0.8) 75%,rgba(0,0,0,.55) 88%,transparent);
	position: relative;
	bottom: 0;
	left: 0;
    max-width: 100%;
    text-align: left;
}

.image-overlay{
    padding-top: 50px;
    padding-bottom: 1px;
    background: linear-gradient(0deg, rgba(0,0,0,0.9) 75%,rgba(0,0,0,.6) 88%,transparent);
    position: relative;
    z-index: 2;
}


/*
-----------------------
styling mission
-----------------------
*/

.mission{
    margin: 35px 17px 0px 17px;
    background: $primary_color;
    padding: 250px 0;
    position: relative;
}

.mission fieldset{
    border: solid 1px $secondary_color;
    color: $secondary_color;
    margin: 5px;
    z-index: 2;
}

.mission-text{
    background: $primary_color;
}

.top-cat{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.top-cat:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%,rgba(0,0,0,.1) 20%,transparent);
}

.bottom-cat {
    position: absolute;
    bottom: 0;
    left: 0;
}

.bottom-cat:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%,rgba(0,0,0,.1) 20%,transparent);
}

.mission-text a{
    font-family: $secondary_font;
    text-decoration: none;
    color: $primary_color;
    border-radius: 12px;
    background-color: $secondary_color;
    padding: 6px 12px;
}

.mission-text .mission-button{
    text-align: center;
    padding-top: 10px;
}




/*
-----------------------
styling accomplishments
-----------------------
*/

.accomplishments{
    position: relative;
    margin: 35px 17px 0px 17px;
}

.accomplishments img{
    position: relative;
    margin-bottom: -223px;
    z-index: 1;
}

.accomplishments fieldset{
    border: solid 1px $secondary_color;
    margin: 5px;
	line-height: 1;
	padding: 15px;
    color: $secondary_color;
    background: linear-gradient(0deg, rgba(0,0,0,0.8) 75%,rgba(0,0,0,.55) 88%,transparent);
	position: relative;
	bottom: 0;
	left: 0;
    max-width: 100%;
    text-align: left;
}

.accomplishments .image-overlay{
    padding-top: 50px;
    padding-bottom: 1px;
    background: linear-gradient(0deg, rgba(0,0,0,0.9) 75%,rgba(0,0,0,.6) 88%,transparent);
    position: relative;
    z-index: 2;
}

.accomplishments legend{
    font-size: 1.38em;
}


@media (min-width: $desktopWidth){

/*
-----------------------
styling story
-----------------------
*/

.image-overlay{
    padding-top: 0;
    padding-bottom: 0;
    background: none;
    position: relative;
    z-index: 1;
}

.story fieldset{
    color: $primary_color;
    background: none;
    border: solid 2px $primary_color;
    width: 420px;
    padding-right: 160px;
    margin-top: -180px;
}

.story div{
    margin: auto;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 40px;
}

.story img{
    width: 380px;
    z-index: 2;
    position: relative;
    left: 448px;
    top: 40px;
}


/*
-----------------------
styling mission
-----------------------
*/

.mission{
    margin-top: 90px;
    background: none;
    padding: 0;
}

.mission-text{
    text-align: center;
    background: none;
}

.mission fieldset{
    margin: 0;
    color: $primary_color;
    background: none;
    background-color: $secondary_color;
    border: solid 2px $primary_color;
}


.mission-text-description{
    text-align: left;
}

.mission-cat-images{
    margin: 0px 15px 20px 15px;
    display: inline-flex;
    justify-content: space-between;
}

.top-cat, .bottom-cat{
    padding: 0px 5px 0px 5px;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.top-cat:before, .bottom-cat:before{
    background: none;
}

.mission-text a{
    color: $secondary_color;
    background-color: $primary_color;
    padding: 14px 28px;
    position: relative;
    top: 26px;
}

.mission-button{
    margin: 5px;
}

/*
-----------------------
styling accomplishments
-----------------------
*/

    .accomplishments legend{
        font-size: 2.5em;
    }

    .accomplishments .image-overlay{
        padding-top: 0;
        padding-bottom: 0;
        background: none;
        position: relative;
        z-index: 1;
    }

    .accomplishments fieldset{
        color: $primary_color;
        background: none;
        border: solid 2px $primary_color;
        width: 420px;
        padding-right: 160px;
        margin-top: -180px;
    }
    
    .accomplishments div{
        margin: auto;
        text-align: center;
        margin-top: 70px;
        margin-bottom: 175px;
    }

    .accomplishments img{
        width: 380px;
        z-index: 2;
        position: relative;
        left: 448px;
        top: 40px;
    }
}