/*
-----------------------
styling story
-----------------------
*/

.story{
    position: relative;
    margin: 35px 17px 0px 17px;
}

.story fieldset{
    border: solid 1px $secondary_color;
    margin: 5px 5px 8px 5px;
	line-height: 1;
	padding: 15px;
    color: $secondary_color;
    background: linear-gradient(0deg, rgba(0,0,0,0.8) 75%,rgba(0,0,0,.559165) 88%,transparent);
	position: absolute;
	bottom: 0;
	left: 0;
    max-width: 100%;
}


/*
-----------------------
styling mission
-----------------------
*/

.mission{
    position: relative;
    margin: 25px 17px 0px 17px;
}

.mission fieldset{
    border: solid 1px $secondary_color;
    margin: 5px 5px 8px 5px;
	line-height: 1;
	padding: 15px;
    color: $secondary_color;
    background: linear-gradient(0deg, rgba(0,0,0,0.8) 75%,rgba(0,0,0,.559165) 88%,transparent);
	position: absolute;
	bottom: 185px;
	left: 0;
    max-width: 100%;
}

#mission-button{
    font-family: $secondary_font;
    color: $primary_color;
    background-color: $secondary_color;
    padding: 10px;
    border-radius: 12px;
    display: block;
    margin: 10px;
    width: 85px;
    text-align: center;
}


/*
-----------------------
styling accomplishments
-----------------------
*/

.accomplishments{
    position: relative;
    margin: 25px 17px 0px 17px;
}

.accomplishments fieldset{
    border: solid 1px $secondary_color;
    margin: 5px 5px 8px 5px;
	line-height: 1;
	padding: 15px;
	color: $secondary_color;
    background: linear-gradient(0deg, rgba(0,0,0,0.8) 75%,rgba(0,0,0,.559165) 88%,transparent);
	position: absolute;
	bottom: 0;
	left: 0;
	max-width: 100%;
}

.accomplishments legend{
    font-size: 1.38em;
}


@media (min-width: $desktopWidth){

/*
-----------------------
styling story
-----------------------
*/
    .story{
        margin-bottom: 60px;
    }

    .story fieldset{
        color: $primary_color;
        background: none;
        border: solid 2px $primary_color;
        width: 420px;
        padding-right: 160px;
    }
    
    .story div{
        margin: auto;
        text-align: center;
        margin-top: 70px;
        margin-bottom: 40px;
    }

    .story img{
        width: 380px;
        z-index: 1;
        position: relative;
        left: 448px;
        top: 40px;
    }
/*
-----------------------
styling accomplishments
-----------------------
*/
.accomplishments legend{
    font-size: 2.5em;
}

}