@charset "utf-8";
/*
--------------------------------
html selectors
--------------------------------
*/

body{
    background-color: $secondary_color;
    margin: auto;
}

legend{
    font-family: $primary_font;
    font-size: 1.5em;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

fieldset{
    margin: 15px;
    border: solid 2px black;
}

fieldset p{
    font-family: $secondary_font;
    margin: 5px 12px 15px 12px;
}

h2{
    font-family: $primary_font;
    font-weight: normal;
    text-align: center;
}

h3{
    font-family: $primary_font;
    font-weight: normal;
}

p{
    font-size: $body_font_size_mobile;
}

img{
    max-width: 100%;
}

/*
--------------------------------
class selectors
--------------------------------
*/
.page-intro{
    margin-top: 25px;
}

.wrapper{
    max-width: 400px;
    margin: auto;
}

/*
--------------------------------
id selectors
--------------------------------
*/
#bg-image-home {
    background-color: black;
    background-image: url("../images/resized/landing_bg_med.jpg");
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
}
