@charset "utf-8";
/*
--------------------------------
html selectors
--------------------------------
*/

body{
    background-color: $secondary_color;
    margin: auto;
}

legend{
    font-family: $primary_font;
    font-size: 1.5em;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

fieldset{
    margin: 15px;
    border-width: 2.5px;
}

fieldset p{
    font-family: $secondary_font;
    margin: 0px 12px 15px 12px;
}

h2{
    font-family: $primary_font;
    font-weight: normal;
    text-align: center;
}

h3{
    font-family: $primary_font;
    font-weight: normal;
}

p{
    font-size: $body_font_size_mobile;
}

/*as of this moment this stuff doesn't work when i put it into the forms scss */
form label{
    font-family: $secondary_font;
    font-size: $body_font_size_mobile;
}

form h3{
    margin-top: 0px;
    font-size: 1.25em;
    text-align: center;
    line-height: 1;
}

.form-group{
    margin: 5px;
}


/*
--------------------------------
class selectors
--------------------------------
*/
.menu-btn{
    font-family: $secondary_font;
    font-size: $body_font_size_mobile;
    border: solid 1px black;
    /*width: 50px;*/
    padding: 15px;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    transition: 0.4s;
}

.menu-btn:hover{
    font-family: $secondary_font;
    background-color: $primary_color;
    color: $secondary_color;
    border: solid 1px black;
    padding: 15px;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

.menu-category{
    border: solid 1.5px black;
    margin: 35px 15px 45px 15px;
}

.menu-category h2{
    margin-top: 15px;
    margin-bottom: 0%;
}

.menu-item{
    padding: 0px 20px 0px 20px;
}

.menu-flex-group{
    display: flex;
    justify-content: space-between;
}

.menu-item-description{
    margin-top: 0;
    font-family: $secondary_font;
    font-size: 0.8em;
    font-style: italic;
}

.menu-item-name{
    margin-bottom: 2px;
    font-family: $secondary_font;
}

.menu-item-price{
    margin-bottom: 2px;
    font-family: $secondary_font;
}

.adoption a{
    font-family: $secondary_font;
    text-decoration: none;
    color: $primary_color;
    border: solid 1px $secondary_color;
    border-radius: 15px;
    background-color: $secondary_color;
    padding: 10px;
}

img{
    max-width: 100%;
}

.contact-us img{
    max-width: 100%;
}

/*
--------------------------------
id selectors
--------------------------------
*/
#bg-image-home {
    background-color: black;
    background-image: url("../images/resized/landing_bg_med.jpg");
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
}
