/*
---------------------------
class selectors
---------------------------
*/

.contact-us fieldset{
    padding-bottom: 25px;
}

.contact-us p{
    margin-bottom: 0;
    text-align: center;
}

.contact-us img{
    width: 80%;
    margin-top: 25px;
    margin-bottom: 20px;
    align-self: center;;
}

@media (min-width: $desktopWidth){
    .contact-us img{
        width: 200px;
        margin-top: 25px;
        margin-bottom: 20px;
        align-self: center;;
    }
}