/*
---------------------------
class selectors
---------------------------
*/
.contact-us fieldset{
    padding-bottom: 25px;
    text-align: center;
}

.contact-us p{
    margin-bottom: 0;
}

.contact-us img{
    width: 80%;
    margin-top: 25px;
    margin-bottom: 20px;
    align-self: center;;
}

.map img{
    margin: 0px 0px 5px 0px;
}

@media (min-width: $desktopWidth){
    .contact-us img{
        width: 100%;
        align-self: center;;
    }

    .contact-us p{
        margin: 0;
        text-align: left;
    }

    .contact-info-group{
        padding: 25px 35px 20px 35px;
        display: grid;
        grid-template-columns: 1fr 40%;
        grid-template-rows: 2fr 1fr;
        grid-template-areas:
            "contact    map"
            "operation  map";
    }

    .contact-info{
        grid-area: contact;
    }

    .map{
        grid-area: map;
    }

    .operation-hours{
        grid-area: operation;
    }

    .contact-form{
        margin-top: 45px;
    }
}