/*
---------------------------
html selectors
---------------------------
*/

form label{
    font-family: $secondary_font;
    font-size: $body_font_size_mobile;
}

form h3{
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 1.25em;
    text-align: center;
    line-height: 1;
}

label{
    padding: 5px 0px 5px 0px;
}

textarea{
    width: 100%;
    height: 60px;
    margin-bottom: 15px;
    padding: 5px;
}

input:focus{
    outline: none;
    background-color: rgb(231, 231, 231);
}

/*
---------------------------
class selectors
---------------------------
*/

.form-group input{
    width: 100%;
    padding: 5px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid 1px $primary_color;
}

.form-group{
    margin: 10px;
}

.method-click{
    display: flex;
}

.method-click input{
    width: 10px;
}

.method-click label{
    padding-top: 3px;
    padding-right: 20px;
}

.agree{
    display: flex;
}

.agree input{
    width: 25px;
}

.agree label{
    padding-top: 3px;
    padding-bottom: 25px;
}

.submit-group{
    text-align: center;
}

.submit-group input{
    font-family: $secondary_font;
    color: $secondary_color;
    background-color: $primary_color;
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 12px;
    width: 80px;
    margin-bottom: 10px;
}

.form-group .select-month,
.form-group .select-day,
.form-group .select-year,
.form-group .select-hour,
.form-group .select-minute,
.form-group .select-ampm{
    display: flex;
    justify-content: space-between;
}

.form-group select{
    width: 70%;
}

.select-ampm{
    padding-bottom: 15px;
}

.agree{
    padding: 0px 35px 10px 25px;
}

.agree a{
    color: $primary_color;
    text-decoration-line: underline;
}


/*
---------------------------
id selectors
---------------------------
*/
#pt{
    margin-bottom: 15px;
}




/*
---------------------------
media query desktop
---------------------------
*/

@media (min-width: $desktopWidth){

    textarea{
        height: 150px;
    }

    form label{
        font-size: 1em;
    }

    .method-click label{
        padding-top: 1px;
    }

    .reserve-form{
        margin-top: 45px;
        margin-bottom: 80px;
    }

    .form-group{
        margin-left: 50px;
        margin-right: 50px;
    }

    .time-info-group-select{
        display: flex;
        justify-content: space-between;
    }

    .date-select,
    .time-select{
        width: 50%;
    }

    ::placeholder{
        font-size: $body_font_size_desktop;
    }

    .agree label{
        padding-top: 1px;
    }

    #agree-terms{
        margin-left: 35px;
    }

    #agree-newsletter{
        margin-left: 35px;
    }

}