header img{
  position: absolute;
  top: 0px;
  z-index: -1;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

header{
  width: 100%;
  height: 250px;
}

#header-title-home{
    width: 100%;
    text-align: center;
}

header h1{
    color: $primary_font_color;
    font-size: $header_font_size_mobile;
    font-family: $primary_font;
    font-weight: 300;
    line-height: 36px;
    margin-top: 120px;
    margin-bottom: 0px;
    text-shadow: 0px 0px 5px $primary_font_color;
}

header a{
    color: $secondary_color;
}

header h2{
    color: $primary_font_color;
    font-size: $subheader_font_size_mobile;
    font-family: $primary_font;
    font-weight: 100;
    line-height: 18px;
    margin: 10px;
}

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 40px;
}

.header-bar{
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.35),
                              rgba(0, 0, 0, 0.35))
}

.header-bar h1{
  margin-top: 70px;
}

.header-bar nav{
  margin-top: 20px;
}

.current-page{
  opacity: 0.3;
}


.menuToggle
{
  display: block;
  position: relative;
  align-items: center;
  
  z-index: 90;
  
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border: 2px solid $secondary_color;
  height: 42px;
  width: 42px;
  border-radius: 50%;
}

.nav-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding-top: 131px;
    box-sizing: border-box;
    
    list-style: none;

    background-color: $primary_color;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    opacity: 0;
    transition: opacity 1s;
    pointer-events: none;
    z-index: 100;
}

.header-bar .nav-bar{
  padding-top: 71px;
}
 
.nav-bar a
{
  text-decoration: none;
  color: $secondary_color;
  font-family: $primary_font;
  font-size: $nav_font_size_mobile;
  line-height: 64px;
  
  transition: color 0.3s ease;
}

.nav-bar a:hover
{
    opacity: 30%;
}

#li-circle {
    border: 2px solid $secondary_color;
    box-shadow: 0px 0px 4px $secondary_color;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    margin: 20px;
}

.menuToggle input
 {
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: 0px;
   left: -4px;
   
   cursor: pointer;
   
   opacity: 0; /* hide this */
   z-index: 102; /* and place it over the hamburger */
 }

 
 .menuToggle span
 {
   display: block;
   width: 28px;
   height: 3px;
   margin: 4px;
   position: relative;
   left: 3px;
   top: 8px;
   
   background: $secondary_color;
   border-radius: 3px;
   
   z-index: 101;
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }
 
 /* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
 .menuToggle input:checked ~ span
 {
   transform: translate(0px, 247px) rotate(45deg);
   position: fixed;
   left: 50%;
   margin-left: -14px;
   top: 180px;
 }

 .menuToggle input:checked ~ .home-span{
   top: 241px;
 }
 
 /*
  * But let's hide the middle one.
  */
 .menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: translate(0px, 247px) rotate(0deg) scale(0.2, 0.2);
   position: fixed;
 }
 
 /*
  * Ohyeah and the last one should go the other direction
  */
 .menuToggle input:checked ~ span:nth-last-child(2)
 {
   transform: translate(0px, 247px) rotate(-45deg);
   position: fixed;
 }
 
 .menuToggle input:checked ~ .nav-bar
 {
   opacity: 1;
   transition: opacity 1s;
   pointer-events: all;
 }
 
 .menuToggle input:checked
 {
   top: 415px;
   left: 50%;
   margin-left: -20px;
   position: fixed;
 }

 #header-home input:checked{
   top: 476px;
 }
 
 .menuToggle input:checked ~ span
 {     
   transition: transform 1s;
 }

 #bg-image-home{
   margin: 0px;
 }

 @media (min-width: $desktopWidth) {


    /*
    --------------------------------
    landing styles    
    --------------------------------
    */
    
    #bg-image-home {
        background-image: url("../images/resized/landing_bg_large.jpg");
        background-attachment: fixed;
    }
    
    #header-home{
        width: 800px;
        margin-left: auto;
        padding: 20px;
    }
    
    #header-title-home{
        width: 800px;
    }
    
    .menuToggle{
        border: none;
    }
    
    .menuToggle span{
        display: none;
    }
    
    .menuToggle input{
        display: none;
    }
    
    header{
        height: 450px;
    }
    
    header h1{
        font-size: $header_font_size_desktop;
        line-height: $header_font_size_desktop;
    }
    
    
    header h2{
        font-size: $subheader_font_size_desktop;
        line-height: $subheader_font_size_desktop;
    }
    
    nav{
        display: block;
        width: 700px;
        margin-left: auto;
        margin-right: 50px;
    }
    
    .header-bar h1{
        margin-top: 140px;
    }
    
    .nav-bar{
        opacity: 1;
        background-color: transparent;
        flex-direction: row;
        position: relative;
        justify-content: space-around;
        width: 800px;
        top: -120px;
        font-weight: 100;
        pointer-events: all;
        margin-top: 100px;
    }
    
    .nav-bar a{
        font-size: $nav_font_size_desktop;
        border-bottom: 2px solid transparent;
        padding-bottom: 8px;
    
        transition: 0.3s ease;
    }
    
    .nav-bar a:hover{
        border-bottom: 2px solid $tertiary_color;
        opacity: 100%;
    }
    
    #li-circle{
        border: none;
        display: none;
    }
    
    #header-home nav{
        width: 650px;
    }
    
    #nav-ul-home{
        width: 600px;
        margin-top: 60px;
    }
    
    
    
    /*header{
        display: flex;
        width: 100%;
        height: 480px;
        overflow: hidden;
        position: relative;
        flex-direction: column;
        text-align: center;
        position: relative;
        background-color: black;
        z-index: -2;
    }
    
    header img{
        position: absolute;
        z-index: -1;
        min-height: 100%;
        width: auto;
        background-position: center top;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0.7;
    }
    
    nav {
        position: absolute;
        bottom: 48px;
        align-self: center;
    }
    
    .nav-a{
        font-family: $primary_font;
        font-weight: 200;
        color: white;
        text-decoration: none;
        font-size: 32px;
    }
    
    #nav-ul{
        display: flex;
        width: 70vw;
        justify-content: space-between;
        margin: auto;
    }*/
    }