.adoption{
    position: relative;
    margin: 25px 17px 0px 17px;
}

.adoption fieldset{
    margin: 5px 5px 8px 5px;
	line-height: 1;
	padding: 15px;
	color: $secondary_color;
    background: linear-gradient(0deg, rgba(0,0,0,0.8) 80%,rgba(0,0,0,.559165) 88%,transparent);
	position: absolute;
	bottom: 0;
	left: 0;
    max-width: 100%;
    border: solid 1px $secondary_color;
}

.adoption .rescues-button{
    text-align: center;
    padding-top: 10px;
}

.adoption a{
    font-family: $secondary_font;
    text-decoration: none;
    color: $primary_color;
    border-radius: 12px;
    background-color: $secondary_color;
    padding: 6px 12px;
}

.snake{
    margin-top: 0px;
    margin-bottom: 0px;
}

.vertical-connector{
    height: 40px;
    width: 50%;
    border-right: solid 1px $primary_color;
}

.cats fieldset{
    border: solid 2px $primary_color;
    padding: 15px;
}

.individual-cat-info{
    position: relative;
}

.individual-cat-description{
    position: absolute;
    background: linear-gradient(0deg, rgba(0,0,0,0.8) 80%,rgba(0,0,0,.559165) 88%,transparent);
    color: $secondary_color;
    bottom: 2px;
    left: 0px;
    max-width: 100%;
    margin: 15px;
    padding: 10px;
    padding-top: 15px;
    line-height: $body_font_size_desktop;
}

#snake-start{
    margin-top: 30px;
}

#snake-head{
    display: none;
}

#snake-tail{
    display: none;
}

@media (min-width: $desktopWidth){

    /*
    -----------------------------
    styling the adoption section
    -----------------------------
    */

    .adoption{
        margin-bottom: 60px;
    }

    .adoption fieldset{
        color: $primary_color;
        background: none;
        border: solid 2px $primary_color;
        width: 420px;
        padding-right: 160px;
    }
    
    .adoption div{
        margin: auto;
        text-align: center;
        margin-top: 70px;
        margin-bottom: 40px;
    }
    
    .adoption a{
        color: $secondary_color;
        background-color: $primary_color;
        padding: 14px 28px;
    }

    .adoption img{
        width: 380px;
        z-index: 5;
        position: relative;
        left: 448px;
        top: 40px;
    }

    /*
    -----------------------
    styling the cat snake
    -----------------------
    */

    .vertical-connector{
        display: none;
    }

    .individual-cat-description{
        position: relative;
        color: $primary_color;
        background: none;
        margin: 0px;
    }

    .individual-cat-info-box{
        width: 300px;
        height: 232px;
        margin-right: auto;
        position: relative;
        z-index: 3;
        top: 20px;
    }

    .right-box{
        left: 432px;
    }

    .cats fieldset{
        border-top-width: 1px;
        border-bottom-width: 1px;
        padding: 48px;
    }

    .individual-cat-info:nth-of-type(2n){
        border-right: none;
    }
    
    .individual-cat-info:nth-of-type(2n+3){
        border-left: none;
    }

    .individual-cat-info:nth-of-type(2){
        border-top-width: 2px;
    }

    .individual-cat-info:last-of-type{
        border-bottom-width: 2px;
    }

    #snake-start{
        border-style: none;
        position: relative;
        top: 14px;
        background-color: $secondary_color;
        z-index: 3;
        width: 250px;
        margin: auto;
        padding: 0px;
    }

    #snake-start p{
        width: 320px;
        position: absolute;
        left: 120px;
        top: 100px;
    }

    #snake-head{
        display: block;
        height: 50px;
        width: 50px;
        border: solid 2px $primary_color;

        position: relative;
        top: 90px;
        left: 791px;
    }

    #snake-tail{
        display: block;
        height: 50px;
        width: 50px;
        border: solid 2px $primary_color;
        margin-bottom: 300px;
        
        position: relative;
        top: -2px;
        left: 15px;
    }
}