.btn-area{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.menu-btn{
    font-family: $secondary_font;
    font-size: $body_font_size_mobile;
    border: solid 1px $primary_color;
    width: 35%;
    max-width: 150px;
    padding: 15px;
    margin: 10px;
    text-align: center;
    transition: 0.4s;
    background-color: $secondary_color;
    outline: none;
}

.menu-btn:hover{
    font-family: $secondary_font;
    background-color: $primary_color;
    color: $secondary_color;
    padding: 15px;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

.menu-category{
    border: solid 2px $primary_color;
    margin: 35px 15px 45px 15px;
    padding: 10px 20px 15px 20px;
}

.menu-category h2{
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: $subheader_font_size_mobile;
}

.menu-category p{
    line-height: 1.25;
}

.menu-item{
    padding: 10px;
}

.menu-flex-group{
    display: flex;
    justify-content: space-between;
}

.menu-item-description{
    margin-top: 0;
    font-family: $secondary_font;
    font-size: 0.8em;
    font-style: italic;
}

.menu-item-name{
    margin-bottom: 2px;
    font-family: $secondary_font;
}

.menu-item-price{
    margin-bottom: 2px;
    font-family: $secondary_font;
}

/*
-----------------------
styling the menu stack
-----------------------
*/

#menu-holder{
    position: relative;
    //width: 400px;
    height: 600px;
    margin-top: 60px;
    margin-bottom: 120px;
}

.menu-category{
    position: absolute;
    float: left;
    margin: 15px;
    height: 600px;
    background-color: $secondary_color;
}

@media (min-width: $desktopWidth){

    .menu-category{
        margin-left: 125px;
        margin-right: 125px;
        width: 566px;
        height: 750px;
    }

    .menu-category h2{
        font-size: $subheader_font_size_desktop;
    }
    
    .menu-category .menu-item-name,
    .menu-category .menu-item-price{
        font-size: $body_font_size_desktop;
    }

    .menu-item{
        padding-top: 20px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .menu-item:last-child{
        padding-bottom: 60px;
    }

    .menu-item-description{
        font-size: $body_smaller_font_size_desktop;
    }

    .menu-btn{
        font-size: $body_font_size_desktop;
    }

    /*
    -----------------------
    styling the menu stack
    -----------------------
    */

    #menu-holder{
        width: 566px;
        height: 750px;
        margin-top: 100px;
        margin-bottom: 140px;
    }
}