@media (min-width: $desktopWidth) {


/*
--------------------
html selectors
--------------------
*/
legend{
    font-size: $section_title_font_size_desktop;
    padding: 0px 15px 0px 15px;
}

fieldset p{
    font-size: $body_font_size_desktop;
    margin: 18px 30px 36px 30px;
}

/*
--------------------
class selectors
--------------------
*/
.wrapper{
    width: 860px;
    max-width: 100%;
    margin: auto;
    margin-top: 56px;
}

.current-page{
    opacity: 1;
  border-bottom: 2px solid $tertiary_color !important;
}


/*header{
    display: flex;
    width: 100%;
    height: 480px;
    overflow: hidden;
    position: relative;
    flex-direction: column;
    text-align: center;
    position: relative;
    background-color: black;
    z-index: -2;
}

header img{
    position: absolute;
    z-index: -1;
    min-height: 100%;
    width: auto;
    background-position: center top;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.7;
}

nav {
    position: absolute;
    bottom: 48px;
    align-self: center;
}

.nav-a{
    font-family: $primary_font;
    font-weight: 200;
    color: white;
    text-decoration: none;
    font-size: 32px;
}

#nav-ul{
    display: flex;
    width: 70vw;
    justify-content: space-between;
    margin: auto;
}*/
}