@media (min-width: $desktopWidth) {


/*
--------------------------------
landing styles    
--------------------------------
*/

#bg-image-home {
    background-image: url("../images/resized/landing_bg_large.jpg");
    background-attachment: fixed;
}

#header-home{
    width: 800px;
    margin-left: auto;
    padding: 20px;
}

#header-title-home{
    width: 800px;
}

.menuToggle{
    border: none;
}

.menuToggle span{
    display: none;
}

.menuToggle input{
    display: none;
}

header{
    height: 450px;
}

header h1{
    font-size: $header_font_size_desktop;
    line-height: $header_font_size_desktop;
}


header h2{
    font-size: $subheader_font_size_desktop;
    line-height: $subheader_font_size_desktop;
}

nav{
    display: block;
    width: 700px;
    margin-left: auto;
    margin-right: 50px;
}
.header-bar h1{
    margin-top: 140px;
}

.nav-bar{
    opacity: 1;
    background-color: transparent;
    flex-direction: row;
    position: relative;
    justify-content: space-around;
    width: 800px;
    top: -120px;
    font-weight: 100;
    pointer-events: all;
    margin-top: 100px;
}

.nav-bar a{
    font-size: $nav_font_size_desktop;
    border-bottom: none;
    padding-bottom: 10px;

    transition: 0.3s ease;
}

.nav-bar a:hover{
    border-bottom: 2px solid $tertiary_color;
    opacity: 100%;
}

#li-circle{
    border: none;
    display: none;
}

/*
--------------------------------
other page general styles    
--------------------------------
*/

/*-----------html selectors-----------*/
legend{
    font-size: $section_title_font_size_desktop;
    padding: 0px 15px 0px 15px;
}

fieldset p{
    font-size: $body_font_size_desktop;
    margin: 18px 30px 36px 30px;
}

/*----------class selectors-----------*/
.wrapper{
    width: 860px;
    max-width: 100%;
    margin: auto;
    margin-top: 56px;
}

.current-page{
    opacity: 1;
  border-bottom: 2px solid $tertiary_color !important;
}

.nav-general{
    padding-top: 60px;
    margin: auto;
    width: 800px;
}


/*header{
    display: flex;
    width: 100%;
    height: 480px;
    overflow: hidden;
    position: relative;
    flex-direction: column;
    text-align: center;
    position: relative;
    background-color: black;
    z-index: -2;
}

header img{
    position: absolute;
    z-index: -1;
    min-height: 100%;
    width: auto;
    background-position: center top;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.7;
}

nav {
    position: absolute;
    bottom: 48px;
    align-self: center;
}

.nav-a{
    font-family: $primary_font;
    font-weight: 200;
    color: white;
    text-decoration: none;
    font-size: 32px;
}

#nav-ul{
    display: flex;
    width: 70vw;
    justify-content: space-between;
    margin: auto;
}*/
}