@charset "utf-8";
/*
--------------------------------
html selectors
--------------------------------
*/

body{
    background-color: white;
}

legend{
    font-family: $primary_font;
    font-size: 2em;
    padding: 15px 15px 15px 15px;
    text-align: center;
}

fieldset{
    margin: 20px;
}

fieldset p{
    font-family: $secondary_font;
    margin: 0px 15px 10px 15px;
}

/*
--------------------------------
class selectors
--------------------------------
*/

/*
--------------------------------
id selectors
--------------------------------
*/
#bg-image-home {
    background-color: black;
    background-image: url("../images/resized/landing_bg_med.jpg");
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
}
