#header-title-home{
    width: 100%;
    text-align: center;
}

header h1{
    color: white;
    font-size: 36px;
    font-family: $primary_font;
    font-weight: 300;
    line-height: 36px;
    margin-top: 100px;
    margin-bottom: 0px;
    text-shadow: 0px 0px 5px white;
}

header h2{
    color: white;
    font-size: 18px;
    font-family: $primary_font;
    font-weight: 100;
    line-height: 18px;
    margin: 10px;
}

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 40px;
}

#menuToggle
{
  display: block;
  position: relative;
  align-items: center;
  
  z-index: 1;
  
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border: 2px solid white;
  height: 42px;
  width: 42px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px white;
}

#nav-ul-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding-top: 140px;
    padding-inline-start: 0px;
    box-sizing: border-box;
    
	margin-block-end: 0px;
	margin-block-start: 0px;

    background-color: black;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    opacity: 0;
    transition: opacity 1s;
    pointer-events: none;
}
 
#nav-ul-home a
{
  text-decoration: none;
  color:white;
  font-family: $primary_font;
  font-size: 18px;
  line-height: 64px;
  
  transition: color 0.3s ease;
}

#nav-ul-home a:hover
{
  opacity: 30%;
}

#li-circle {
    border: 2px solid white;
    box-shadow: 0px 0px 4px white;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    margin: 20px;
}

#menuToggle input
 {
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: -8px;
   left: -8px;
   
   cursor: pointer;
   
   opacity: 0; /* hide this */
   z-index: 2; /* and place it over the hamburger */
   
   -webkit-touch-callout: none;
 }

 
 #menuToggle span
 {
   display: block;
   width: 28px;
   height: 3px;
   margin: 4px;
   position: relative;
   left: 3px;
   top: 8px;
   
   background: white;
   border-radius: 3px;
   
   z-index: 1;
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }
 
 /* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
 #menuToggle input:checked ~ span
 {
   transform: translate(0px, 283px) rotate(45deg);
 }
 
 /*
  * But let's hide the middle one.
  */
 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: translate(0px, 276px) rotate(0deg) scale(0.2, 0.2);
 }
 
 /*
  * Ohyeah and the last one should go the other direction
  */
 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   transform: translate(0px, 269px) rotate(-45deg);
 }
 
 #menuToggle input:checked ~ #nav-ul-home
 {
   opacity: 1;
   transition: opacity 1s;
   pointer-events: all;
 }
 
 #menuToggle input:checked
 {
   top:276px;
 }
 
 #menuToggle input:checked ~ span
 {     
   transition: transform 1s;
 }











/*@media ??? {
    header{
        display: flex;
        width: 100%;
        height: 480px;
        overflow: hidden;
        position: relative;
        flex-direction: column;
        text-align: center;
        position: relative;
        background-color: black;
        z-index: -2;
    }

    header img{
        position: absolute;
        z-index: -1;
        min-height: 100%;
        width: auto;
        background-position: center top;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0.7;
    }

    nav {
        position: absolute;
        bottom: 48px;
        align-self: center;
    }

    .nav-a{
        font-family: $primary_font;
        font-weight: 200;
        color: white;
        text-decoration: none;
        font-size: 32px;
    }

    #nav-ul{
        display: flex;
        width: 70vw;
        justify-content: space-between;
        margin: auto;
    }
}*/