@media (min-width: 1120px) {
    #bg-image-home {
        background-image: url("../images/resized/landing_bg_large.jpg");
    }

    #header-title-home{
    }

    #menuToggle{
        border: none;
    }

    #menuToggle span{
        display: none;
    }

    header h1{
        font-size: 100px;
        line-height: 100px;
    }

    header h2{
        font-size: 36px;
        line-height: 36px;
    }

    
    /*header{
        display: flex;
        width: 100%;
        height: 480px;
        overflow: hidden;
        position: relative;
        flex-direction: column;
        text-align: center;
        position: relative;
        background-color: black;
        z-index: -2;
    }

    header img{
        position: absolute;
        z-index: -1;
        min-height: 100%;
        width: auto;
        background-position: center top;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0.7;
    }

    nav {
        position: absolute;
        bottom: 48px;
        align-self: center;
    }

    .nav-a{
        font-family: $primary_font;
        font-weight: 200;
        color: white;
        text-decoration: none;
        font-size: 32px;
    }

    #nav-ul{
        display: flex;
        width: 70vw;
        justify-content: space-between;
        margin: auto;
    }*/
}